<%= turbo_frame_tag card do %>
  <div class="card">
    <%= link_to card.name, 
                card_path(card),
                data: { turbo_frame: "_top"} %>
    <div class="card__actions">
      <%= button_to "Delete",
                    card_path(card),
                    method: :delete,
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_card_path(card),
                  class: "btn btn--light" %>
    </div>
  </div>
<% end %>